  :root {
    font-family:  monospace;
    text-align: center;
    color-scheme: light dark;
    color: rgb(239, 235, 235);
  }



  input {
    padding: 10px;
    margin: 10px;
    width: 320px;
    border-radius: 10px;
    border: none;
    background-color: azure;
  }

  .div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .para{
    border-radius: 10px;
    background-color: rgb(19, 87, 165);
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
  }

  .inputBox{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    
  }

  .myDiv{
    display: flex;
    align-items: center;
    justify-content: end;
  }
  span{
    cursor: pointer;
  }

  button, :link{
    box-shadow: 0px 0px 10px;
  }

  