.box {
    background-color: rgba(131, 131, 131, 0.396);
    padding: 20px 0px;
    border-radius: 20px;

}

button{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 102, 255, 0.729);
}